-- Remplacer :you@example.com par ton email de test\nWITH auth_meta AS (\n  SELECT id, email, raw_user_meta_data\n  FROM auth.users\n  WHERE email = ':you@example.com'\n), u AS (\n  SELECT u.*\n  FROM public.users u\n  JOIN auth_meta a ON a.id = u.id\n)\nSELECT\n  u.id, u.email,\n  u.role, u.candidate_status, u.statut,\n  u.first_name, u.last_name, u.phone,\n  u.matricule, u.date_of_birth, u.sexe, u.adresse,\n  u.poste_actuel, u.annees_experience, u.no_seeg_email, u.politique_confidentialite,\n  u.created_at, u.updated_at,\n  auth_meta.raw_user_meta_data as auth_metadata\nFROM u, auth_meta;
